body {
  margin: 0 auto;
  text-align: center;
  font-family: Calibri Light;
  font-size: 16px;
  background-image: url(../img/background.png);
  background-size: cover;
}

textarea {
  width: 100%;
}

.chat-bot-div {
  position: relative;
}

.chat-div {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}

.logo-div {
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 50px;
}

.main-div {
  position: fixed;
  height: 500px;
  width: 350px;
  bottom: 138px;
  right: 10px;
}

#chat-head {
  background-color: #8cc751;
  height: 165px;
  border-radius: 10px 10px 0 0;
}

.jubilant-header {
  margin-top: 10px;
  background: white;
  border-radius: 50px;
}


/*
.jubilant-logo {
  position: relative;
  float: left;
  top: -17px;
  left: 10px;
  border: 1px solid #254aa5;
}*/


/*.close-window {
  position: relative;
  float: right;
  top: 20px;
  right: 15px;
  cursor: pointer;
}*/

a {
  color: #179017;
  opacity: .8;
}

a:hover {
  opacity: 1;
}

.chat-input {
  height: 40px;
  background-color: #f7f7f7;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 0px 10px 10px;
}

.input-text {
  width: 85%;
  border: none;
  height: 35px;
  float: left;
  padding-left: 5px;
  outline: none;
  font-size: 14px;
}

.send-div {
  height: 35px;
  background-color: #fff;
  cursor: pointer;
}

.send-icon {
  position: relative;
  top: 4px;
}

input::-webkit-input-placeholder {
  color: #bfbfbf;
  font-size: 14px;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf;
  font-size: 14px;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #bfbfbf;
  font-size: 14px;
}

.chat-request {
  width: 90%;
  float: right;
  text-align: center;
  padding-right: 5px;
  margin-top: 10px;
}

.chat-req-span {
  float: right;
  text-align: left;
  margin: 10px;
  margin-right: 20px;
  background-color: #0d4d97;
  color: #f7f7f7;
  min-width: 5%;
  padding: 5px 20px;
  border-radius: 20px;
  word-wrap: break-word;
  max-width: 90%;
  position: relative;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}


/*.chat-req-span:before {
  right: -7px;
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 8px;
  border-color: transparent transparent #eaedef #eaedef;
  border: 7px solid #eaedef;
  transform: rotate(-135deg);
  top: 13px;
}*/

.chat-init-msg {
  margin: 30px;
  margin-top: 12px;
}

.chat-init-msg-span {
  padding: 12px;
  color: #fff;
}


/*
.chat-init-msg-span:before {
  content: "";
  border-style: solid;
  border-width: 10px 8px 10px 0;
  border-color: transparent transparent #d3dbed #d3dbed;
  position: absolute;
  left: 50%;
  top: -10px;
  box-sizing: border-box;
  border: 7px solid #d3dbed;
  transform-origin: 0 0;
  transform: rotate(45deg);
}*/

.chat-response {
  width: 90%;
  float: left;
  text-align: center;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat-res-span {
  min-width: 5%;
  padding: 5px 20px;
  float: left;
  margin-left: 35px;
  background: #8cc751;
  color: #fff;
  border-radius: 20px;
  word-wrap: break-word;
  max-width: 90%;
  text-align: left;
  position: relative;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}


/*.chat-res-span:before {
  content: "";
  border-style: solid;
  border-width: 10px 8px 10px 0;
  border-color: transparent transparent #d3dbed #d3dbed;
  position: absolute;
  left: 1px;
  box-sizing: border-box;
  border: 7px solid #d3dbed;
  transform-origin: 0 0;
  transform: rotate(45deg);
  top: 10px;
}*/

.chat-res-label {
  min-width: 5%;
  width: 30px;
  height: 30px;
  position: relative;
  display: block;
  border-radius: 100%;
  background-size: cover;
  background-image: url(../img/logo-50x50.png);
}


/*.chat-req-label {
  width: 12px;
  height: 12px;
  position: relative;
  right: -26%;
  top: 26px;
  float: right;
  background-size: cover;
  background-image: url(../img/20x20.png);
}*/


/*.chat-thinking-span:has(> .thinking-img) {}

.chat-thinking-span {
  min-width: 15%;
  padding: 12px;
  float: left;
  margin-left: 55px;
  background: #fff;
  border-radius: 10px;
  max-width: 90%;
  text-align: left;
  position: relative;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.chat-thinking-span:before {
  content: "";
  border-style: solid;
  border-width: 10px 8px 10px 0;
  border-color: transparent transparent #fff #fff;
  position: absolute;
  left: 1px;
  box-sizing: border-box;
  border: 7px solid #fff;
  transform-origin: 0 0;
  transform: rotate(45deg);
  top: 10px;
}*/

.bot-icon-div {
  position: fixed;
  bottom: 15px;
  right: 5px;
  background-color: #006dab;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.bot-img-main {
  position: relative;
  top: 19px;
  cursor: pointer;
}

.bot-img-box {
  position: absolute;
  bottom: 65px;
  right: 33px;
  cursor: pointer;
  -webkit-animation: scale 2s ease-out;
  -ms-animation: scale 2s ease-out;
  -moz-animation: scale 2s ease-out;
  animation: scale 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes scale {
  5% {
    -webkit-transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@media only screen and (max-width: 500px) {
  .main-div {
    width: 310px;
  }
}
